{% extends 'base.html' %}

{% block header %}
    {% load static %}
    <script src= "{% static 'js/pedido.js' %}"></script>

    <!-- Pra ser acessível no ajax -->
    <script> window.CSRF_TOKEN = "{{ csrf_token }}"; </script> 
{% endblock %}


{% block title %}
  Edita
{% endblock %}

{% block content %}


<a href="/">Voltar</a>
<div class="container">
        <div class="row">
                <h2>Pedido de {{pedido.cliente.nome}} - #{{pedido.id}}</h2>

                <div class="panel panel-primary" >
                        <table>
                                <tr>
                                        <td width="200"> <b>Produto</b> </td>
                                        <td width="200"> <b>Quantidade</b> </td>
                                        <td width="100" > <b>Preço</b> </td>
                                </tr>
                            {% for item in items %}
                                <tr> 
                                    <td> {{item.produto.nome}} </td>
                                    <td> {{item.quantidade}} </td>
                                    <td> R$ {{item.preco}} </td>
                                    <td><a href="/apagaritempedido/{{item.id}}">excluir</a></td>
                                </tr>
                            {% endfor %}
                        </table>
                    
                    <form method="post">
                        {% csrf_token %}
                        {{ form.produto }}
                        {{ form.quantidade }}
                        {{ form.preco }}
                        <button type="submit" class="btn btn-success" id= "submit_produto">Adicionar</button>
                    </form>
                    <div class="alert" id="div_rentabilidade">
        
                    </div>
                </div>
        </div>
    </div>

    <script> 
        // instancia classe que lida com o form e adiciona triggers nos campos do formulário.
        const form_handler = new PedidoForm;
        $("#id_produto").attr('onchange', 'form_handler.mudou_produto();');
        $("#id_quantidade").attr('onchange', 'form_handler.mudou_quantidade();');
        $("#id_preco").attr('oninput', 'form_handler.mudou_preco();');
    </script>

{% endblock %}